<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Base HTML</title>
		<link href="../static/css/output.css" rel="stylesheet" />
	</head>
	<body class="bg-gray-100 h-screen">
		<div class="flex flex-col justify-center items-center min-h-screen">
			<h1 class="mb-6 text-black text-4xl">JobRec</h1>
			<div class="mb-4">
				<form
					action="{{ url_for('submit') }}"
					method="POST"
					class="space-y-4"
				>
					<div>
						<input
							name="job_title"
							id="job_title"
							type="text"
							placeholder="input job title"
							class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-black w-full"
						/>
					</div>
					<div class="flex space-x-4">
						<input
							name="job_location"
							id="job_location"
							type="text"
							placeholder="input job location"
							class="flex-grow px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-black"
						/>
					</div>
					<div class="flex space-x-4">
						<div class="flex-1 space-y-2">
							<label
								class="block font-medium text-gray-700 text-sm"
								>Include words:</label
							>
							<input
								name="include"
								id="include"
								type="text"
								placeholder="Seperate by ','"
								class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-black w-full"
							/>
						</div>
						<div class="flex-1 space-y-2">
							<label
								class="block font-medium text-gray-700 text-sm"
								>Exclude words:</label
							>
							<input
								name="exclude"
								id="exclude"
								type="text"
								placeholder="Seperate by ','"
								class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-black w-full"
							/>
						</div>
					</div>
					<button
						type="submit"
						class="bg-black hover:bg-gray-800 px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-black w-full text-white"
					>
						Submit
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
